.decorate {
     background-color: black;
     display: flex;
     align-items: center
}

.greeting {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 60px;

}

.input-box {
     width: 150px;
     height: 30px;
     margin-bottom: 20px;
}

.btn {
     width: 100px;
}

.favirote {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.show {
     display: block;
}

.hide {
     display: none;
}

.disiable {
     display: flex;
     justify-content: center;
     margin: 20px
}

/*p {
     text-align: center
}*/

.disiable:disabled {
     background-color: grey;
     color: grey;
}
