.input {
     box-shadow: 1px 2px 10px lightgrey;
     width: 85%;
     height: 100%;


}

.main-todo {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.main {
     width: 85%;
     height: 50px;
     text-align: center;
     border: none;
     font-size: 20px
}

.heading {
     font-size: 100px;
     color: rgba(175, 47, 47, 0.2);
}

.cancel {
     color: red;
}

.round {
     width: 30px;
     height: 30px;
     border-radius: 30px;
     background-color: #f2f2f2;
     color: green;
     font-family: arial
}

.todo {
     width: 85%;
     display: flex;
     align-items: center;
     background-color: white;
     justify-content: space-around;
     box-shadow: 1px 2px 5px grey;
     background-color: white
}

.footer {
     width: 85%;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.btn {
     border: 1px solid grey;
     height: 25px;
}

.a {
     display: block
}

.b {
     display: none
}

.todo-status {

     width: 98%;
     height: 100%;
     text-align: center;
     border: none;
     font-size: 20px
}

.todo-status:disabled {
     text-decoration: line-through
}

.check {
     font-size: 20px
}

.c {
     display: flex
}

.d {
     display: none
}
