.country-card-light-mode {
    height: 400px;
    width: 200px;
    box-shadow: 1px 1px 5px lightgrey;
    margin: 20px; 
    border-radius: 5px 5px 5px 5px
}

.country-card-dark-mode {
    height: 400px;
    width: 200px;
<<<<<<< HEAD

    margin: 25px;
=======
     margin: 20px; 
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
    border-radius: 5px 5px 5px 5px
}

.countryCard {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flag {
    height: 50%;
    object-fit: cover;
}

<<<<<<< HEAD
.data {
=======
.country-details {
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
    display: flex;
    flex-direction: column;
    /*margin: 15px;*/
}


.btn {
    border: none;
    border-radius: 5px;
}

.header {
    padding: 10px;
    display: flex;
    box-shadow: 1px 2px 5px lightgrey;
    justify-content: space-between;
    align-items: center;
}


.white {
    background-color: #2b3945;
    color: white;
}

.black {

    background-color: #fff;

}

.country-flag {
    object-fit: cover;
<<<<<<< HEAD
    border-radius: 5px 5px 0px 0px
=======
    height:195px;
    border-radius: 5px 5px 0px 0px;
    text-align:justify
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
}

p {
    text-align: left;
    margin: 10px;
}

.seraching {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-box{
    border: none;
    font-size: 15px;
    width: 100%;
    height:100%
}

.search-country {
    display: flex;
    width: 200px;
    height: 40px;
    margin: 10px;
    box-shadow: 1px 2px 5px lightgrey;
    align-items: center;
}



.select-region {
    margin: 10px;
}

.select-Region {
    height: 35px
}

.loading {
    display: flex;
    height: 200px;
    width: 300px;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

.block {
    display: none
}

.none {
    display: block
}

.card {
    width: 250px;
    height: 300px;
}

.country-data {
    display: flex;
    height: 500px;
}

.data1-div,
.data2-div {
    height: 100px;
    border: 2px solid red;
}

.flag-div {
    margin-right: 100px;
}


.image-fit {
    margin-top: 35px;
    width: 350px;
}

.back-button {
    width: 100px;
    height: 40px;
    margin: 10px;
    box-shadow: 1px 2px 5px lightgrey;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.arrow {
<<<<<<< HEAD
    margin-top: 30px;
=======
    font-size: 30px;
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d

}

.arrow1 {
    margin-top: 25px;
}

.header-mode {
    display: flex;
    align-items: center;
}

.border-countries {
    width: 530px;
    height: 90px;
}

.C-data {
    display: flex;
<<<<<<< HEAD
=======
}
.style:hover{
    transition-duration: 0.5s;
 transform:scale(1.1,1.1) ;
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
}
.space {

    height: 40px;
    margin: 5px;
    border: none;
    padding:8px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px lightgrey;
}

.search-icon {
    margin-top:5px;
    font-size:20px;
    color: grey;
}
.symbol-size{
margin-top: 2px;
margin-right: 2px;
}
.search-countryByLetter {
    display: flex;
    align-items: center;
}

.light {
    background-color: white
}

.dark {
    background-color: #3b4e5e;
    box-shadow: 1px 2px 5px #2b3945;
    color: white;
}

.symbol {
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.dark1 {
=======
.dark-mode {
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
    color: white;
}

.wrap {
    display: flex
}

/* cuntry details box*/

.detailsBox {
    display: flex;
    justify-content: space-between;
}

.box {
    height: 600px;
}

.fontStyles {
    padding-left: 10px;
}

.countryImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px
}

.countryDetails {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
}
=======
}
>>>>>>> 337af5a5aa80ecd2b2f6c40236bd53c1e953495d
